RewriteEngine on

RewriteCond %{HTTP_HOST} ^(www.)?https://https://str-decor.com$ [NC]
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1
RewriteCond %{HTTP_HOST} ^(www.)?str-decor.com$
RewriteRule ^(/)?$ public/index.php [L]

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>